{% extends 'common/navigation.html' %}

{% block content %}
<div class="container-fluid pr-0 pl-0">
  <div class="picture-row">
      <div class='d-flex justify-content-center'>
        <div class='name p-5'>
          <h1>I'm Kayla.</h1>
          <p class='job-title'>senior software developer and analyst</p>
        </div>
      </div>
  </div>
  <div class='p-2 text-center'>
    <h3>hi!</h3>
    <div>
      I'm a senior software developer/analyst based in Austin, Texas.
    </div>
    <div>
      I play semi-professional Ultimate for the Austin Torch and coach The
      University of Texas Women's Ultimate frisbee team.
    </div>
    <div>
      In my free time, I enjoy traveling, building funiture and lounging in any
      type of body of water.
    </div>
  </div>
</div>
{% endblock %}
