{% extends 'common/navigation.html' %}

{% block content %}

<div class='container pt-5 d-flex flex-column align-items-center justify-content-center'>
  <!-- <embed src="/static/common/KaylaRamirez_Resume.pdf" type="application/pdf"
       width="700" height="975">
  -->
  <h1>Professional Career</h1>
  <a href='/static/common/KaylaRamirez_Resume.pdf' download>
    <button class='btn'>
      <i class='fa fa-download'></i> Resume
    </button>
  </a>
  <div class="timeline">
    <ul>
      <li>
        <div class='content'>
          <h3>Senior Software Developer/Analyst</h3>
          <p>Academic Information Systems</p>
        </div>
        <div class='time'>
          <h4>June 2019</h4>
        </div>
      </li>
      <li>
        <div class='content'>
          <h3>Senior Software Developer/Analyst</h3>
          <p>The Office of the Registrar</p>
        </div>
        <div class='time'>
          <h4>September 2017</h4>
        </div>
      </li>
      <li>
        <div class='content'>
          <h3>Software Developer/Analyst</h3>
          <p>The Office of the Registrar</p>
        </div>
        <div class='time'>
          <h4>September 2016</h4>
        </div>
      </li>
      <li>
        <div class='content'>
          <h3>Software Developer</h3>
          <p>The Office of the Registrar</p>
        </div>
        <div class='time'>
          <h4>February 2016</h4>
        </div>
      </li>
      <li>
        <div class='content'>
          <h3>Software Developer Trainee</h3>
          <p>The Office of the Registrar</p>
        </div>
        <div class='time'>
          <h4>September 2015</h4>
        </div>
      </li>
      <li>
        <div class='content'>
          <h3>Bachelor's of Science, Computational Biology</h3>
          <p>Graduated from The University of Texas - Austin and also recieved a
             Elements of Computing Certification</p>
        </div>
        <div class='time'>
          <h4>August 2014</h4>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}
