{% extends 'common/navigation.html' %}

{% block content %}

  <div class='container-fluid pt-5'>
    <div class='d-flex justify-content-center'>
      <h1>Ultimate Career</h1>
    </div>
    <div>
      <h3>Texas Melee - University of Texas Women's Ultimate</h3>
      <p> - player (2011, 2012, 2013, 2014)</p>
      <p> - captain (2013, 2014) </p>
      <p> - coach (2018, 2019, 2020)</p>
      <p>Accomplishments: Nationals 2012, 2013, 2018, 2019 </p>
    </div>
    <div>
      <h3>Texas Showdown - USAU Club</h3>
      <p>player (2012, 2014, 2015, 2018, 2019, 2020)
         leadership committee (2020)</p>
      <p>Accomplishments: Nationals
    </div>
    <div>
      <h3>Austin Torch - Premier Ultimate League</h3>
      <p>player (2018, 2019, 2020)
    </div>
  </div>

{% endblock content %}
