<footer class='page-footer font-small mt-3'>
  <div class='container'>
    <div class='row'>
      <div class="col-md-12 py-5">
        <div class='mb-3 d-flex justify-content-center'>
          <!-- Twitter -->
          <a class='tw-ic' href='https://twitter.com/Kayla_ram'>
            <i class='fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x'> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/kayla-ramirez-b0bb94a2/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/ramkayla/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- github -->
          <a class="git-ic" href="https://github.com/kaylaramirez">
            <i class='fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x'> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
