
.nav-logo {
    width: 50px;
    height: auto;
    padding-left: 10px;
}
.navbar-custom {
    background-color: #E0BCA4;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.navbar-item {
  text-align: right;
}
.navbar-brand{
  padding-bottom: 0;
}
.nav{
  padding-bottom: 0;
}

.picture-row{
  background-image: url('/static/common/img/home-office-pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 800px;
}
@media only screen and (max-width: 767px){
  .picture-row{
    background-image: url('/static/common/img/home-office-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 400px;
  }
}
.name{
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 40px;
}

h1{
  color: white;
  background-color: black;
}

.job-title{
  color: white;
  background-color: black;
}

.page-footer{
  background-color: #E0BCA4;
}
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  /* background color for timeline dots */
  background: black;
  border-radius:50%;
  /* box-shadow:0 0 0 3px rgba(233,33,99,0.2); */
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:black;
  border-radius:50%;
  /* box-shadow:0 0 0 3px rgba(233,33,99,0.2); */
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:black;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:black;
  color:#fff;
  border-radius:0;
  /* box-shadow:0 0 0 3px rgba(233,33,99,0.3); */
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:black;
  color:#fff;
  border-radius:0px;
  /* box-shadow:0 0 0 3px rgba(233,33,99,0.3); */
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

.body {
  font-family: "Libre Franklin", Helvetica, sans-serif;
}
